<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>소셜로그인</title>
    <meta charset="utf-8" />
</head>
<body>
    <div>
        <a href="/oauth2/authorization/google" role="button">Google Login</a>
    </div>
    <div>
        <div>미어캣</div>
        <img src="https://storage.googleapis.com/download/storage/v1/b/wero-gcs-bucket/o/4830e0d7-71af-4b9a-aad1-12abe146c72e?generation=1679229588680072&alt=media">

    </div>
    <div>
        <div>강아지</div>
        <img width="500px"; height="1000px" src="https://storage.googleapis.com/download/storage/v1/b/wero-gcs-bucket/o/266150f6-9fdc-464a-9017-48216346d146?generation=1679229824519242&alt=media">
    </div>
</body>
</html>